@import '../../variables.scss';

#bugress-nav {
  height: 97px;
}

#navbar-bugress {
  width: 100%;
  justify-content: space-between;
  .nav-item {
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: 700;
  }
  .bugres-brand {
    a {
      color: $primary-color;
      font-size: 37px;  
      font-weight: 700;

      &:hover {
        text-decoration: none;
      }
    }
  }
  .navbar-nav {
    .nav-link {
      font-size: 14px;
      font-weight: 600;
    }
  }
}