@import './variables.scss';

* {
  font-family: 'Montserrat', sans-serif;  
}
body {    
  color: #2E2D2C;
  background-color: #F5F5F5;
  overflow-x: hidden;
}

.btn-bugress-primary {
  border-radius: 0;
  background-color: $primary-color;
  color: white;
  outline: none;
  font-weight: 700;
  border: none;
  cursor: pointer;
}

.btn-bugress-outline {
  border-radius: 0;
  border: 2px solid $primary-color;
  outline: none;
  background-color: white;
  cursor: pointer;
  color: $primary-color;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  box-shadow: none !important;

  &:hover, &:focus, &:active {
    background-color: $primary-color !important;
    color: white !important;
    border-color: $primary-color !important;
  }
}

.btn-bugress-outline.btn-secondary {
  color: #A3A1A1;
  border-color: #A3A1A1;
  background-color: transparent;

  &:hover {
    border-color: $primary-color;
    color: $primary-color;
  }
}

.btn-bugress-outline.btn-red {
  color: #FF0050;
  border-color: #FF0050;
}

.btn-disable {
  cursor: none !important;
  pointer-events: none !important;
  opacity: 0.5 !important;
}

.bug-radio {
  display: inline-flex;
  line-height: 27px;
}

.bug-radio .custom-control {
  padding: 0;
}

.bug-radio .custom-control-label {
  position: relative;
  padding-left: 47px;
  line-height: 27px;
}

.custom-radio .custom-control-label::before {
  width: 27px;
  height: 27px;
  top: 0;
  border: 1px solid #707070;    
  background-color: transparent !important;  
  left: 0
}

.bug-radio.custom-radio .custom-control-input:checked~.custom-control-label::before {
  background-image: none;
}

.custom-radio .custom-control-input:checked~.custom-control-label::after {
  position: absolute;
  top: 7px;
  left: 7px;
  width: 13px;
  height: 13px;
  background-color: $primary-color;  
  background-image: none;
  border-radius: 6.5px;
}

@media (min-width: 768px){
  .seven-cols .col-md-1,
  .seven-cols .col-sm-1,
  .seven-cols .col-lg-1  {
    width: 100%;
    *width: 100%;
    max-width: inherit;
    flex: inherit;
  }
}

@media (min-width: 992px) {
  .seven-cols .col-md-1,
  .seven-cols .col-sm-1,
  .seven-cols .col-lg-1 {
    width: 14.285714285714285714285714285714%;
    *width: 14.285714285714285714285714285714%;
    max-width: inherit;
    flex: inherit;
  }
}

/**
 *  The following is not really needed in this case
 *  Only to demonstrate the usage of @media for large screens
 */    
@media (min-width: 1200px) {
  .seven-cols .col-md-1,
  .seven-cols .col-sm-1,
  .seven-cols .col-lg-1 {
    width: 14.285714285714285714285714285714%;
    *width: 14.285714285714285714285714285714%;
    max-width: inherit;
    flex: inherit;
  }
}

@import "./sharedComponents/NavMenu/styles.scss";
@import "./components/TourPlay/styles.scss";
@import "./components/TourPlay/ChattingPanel/styles.scss";
@import "./components/TourPlay/MainPanel/styles.scss";
@import "./components/Homepage/styles.scss";